body { padding-top: 0px; }

a { color: #eee }

a:hover { 
    color: #ffa500;
}

a:focus {
    color: #ffa500;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: #333;
}

.nav > li {
    white-space: nowrap;
}

/*
    Top Navbar
*/
.navbar {
    min-height: 40px;
    max-height: 40px;
}

.navbar-brand {
    height: 40px;
    padding: 10px 10px;
}

.navbar-form, .navbar-toggle {
    margin-top: 3px;
    margin-bottom: 3px;
}

.navbar-fixed-top {
    z-index: 2002;
    background: #222;
    margin-left: 220px;
    -webkit-transition: margin-left 0.5s; /* Safari */
    transition: margin-left 0.5s;
}

.navbar-fixed-top.navbar-static-side-minimized {
    margin-left: 44px;
    -webkit-transition: margin-left 0.5s; /* Safari */
    transition: margin-left 0.5s;
}

/*
navbar-minimalize
*/
.navbar-minimalize {
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}

/*
    Side Navbar
*/
.navbar-static-side {
    z-index: 2001;
    position: fixed;
    width: 220px; 
    background: #222;
    height: 100%;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

.navbar-static-side.navbar-static-side-minimized {
    width: 44px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

.navbar-static-side.navbar-static-side-minimized .nav-label {
    display:none;
}

.login-section {
    background: #19344d;
}

/*
    Page Wrapper
*/

.body-content {
    background:#eaeaea; 
    min-height: 100%;
    margin-left: 220px;
    -webkit-transition: margin-left 0.5s; /* Safari */
    transition: margin-left 0.5s;
}

.body-content.navbar-static-side-minimized {
    margin-left: 44px;
    -webkit-transition: margin-left 0.5s; /* Safari */
    transition: margin-left 0.5s;
}

/*
    Media Queries
*/
@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-fixed-top {
        margin-left:220px;
    }

    .navbar-static-side {
        z-index: 2001;
        position: fixed;
        width: 220px;
    }
    
    .body-content {
        margin-left:220px;
    }

}

@media (max-width: 768px) {

    .navbar-fixed-top {
        margin-left:44px;
    }

    .navbar-static-side {
        z-index: 2001;
        position: fixed;
        width: 44px;
    }
    
    .body-content {
        margin-left:44px;
    }
    
    .nav-label {
        display:none;
    }
}

@media print {
    nav.navbar-static-side {
        display: none;
    }

    #page-wrapper {
        margin: 0;
    }
}

